/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; } table { border-collapse:collapse; border-spacing:0; } hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; } input, select { vertical-align:middle; }

	.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

	body {
		background: #000;
		font-family: 'Scheherazade', serif;
		color: #fff;
	}

	#wrapper {
		position: relative;
		text-align: center;
		margin: 0 auto;
	}

	a {
		color: #ddd;
		font-size: 20px;
		text-decoration: none;
	}

	a:hover{
		color: #fff;
	}

	h1 {
		font-size: 64px;
		font-weight: 100;
    	line-height: 1em;
	}
	h2 {
		font-family: 'Scheherazade', serif;
		font-size: 34px;
		font-weight: 100;
	}
	h3 {
		font-size: 30px;
		font-weight: 700;
	}
	h4 {
		font-size: 20px;
		font-weight: 100;
	}
	h5 {
		font-weight: 100;
		font-size: 14px;
		margin: auto;
		font-weight: 100;
	}
	p{
		font-size: 20px;
	}

	h4 a {
		font-style: italic;
	}
	h4 span {
		font-weight: 700;
		font-size: 24px;
	}

	header{
		text-align: center;
		margin: 4em 0;
	}

	a.app {
		text-decoration: none;
		color: #fff;
		cursor: text;
	}

	.dark {
		color: #fff;
		padding: 3em 0 ;
	}


	#resume {
		width: 100%;
		padding: 4em 0;
	}

	#resume ol {
		float: left;
		margin-left: 10%;
		width: 30%;
	}
	#resume ol.first {
		margin-left: 12%;
	}

	#resume ol li:first-child {
		list-style-type: none;
		margin-top: -10px;
	}

	#resume ol li {
		list-style-type: none;
		margin-top: 25px;
	}

	#portfolio {
		margin: 4em 0;
	}

	#contact {
	    margin-top: 1.7em;
	}

	.left h5 {
		display: inline-block;
	}
	.left h5 a {
		padding: .5em;
	}

	#portfolio ul li:first-child { 
		margin: 0;
	}
	#portfolio ul li {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin: 2em 0;
	}

	.iframe-container {
		position: relative;
	}

	.loader {
		position: absolute;
		top: 10%;
		left: 50%;
		z-index: 10;
	}

	.hidden {
		display: none;
	}

	#portfolio iframe {
		width: 100%;
	}

	.video-grid {
		iframe {
			width: 30%;
		}
	}

	#portfolio ul li p {
		margin: 0px auto;
		line-height: 20px;
		max-width: 490px;
	}

	#portfolio a {
		text-decoration: none;
		font-style: italic;
	}

	#me {
		padding-top: 2em;
	}

	footer {
		position: relative;
		margin-top: 20px;
		bottom: 10px;
		right: 0;
		text-align: center;
	}

	footer p {
		display: inline-block;
		margin-left: 10px;
	}

	ul, ul li, ol, ol li {
		list-style-type: none;
	}

	.dot {
		display:block;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-khtml-border-radius:5px;
		background:#000;
		width: 10px;
		height: 10px;
		text-align: center;
		margin: 20px auto 0 auto;
	}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 900px) {

	#wrapper {
		width: 100%;
	}

	#portfolio iframe {
		width: 95%;
	}

}

@media handheld, only screen and (min-width: 1024px) {

	.left {
		float: left;
		width: 50%;
	}
	.right {
		float: left;
		width: 50%;
	}

	#me .inner {
		padding: 0 30% 0 0;
	}

	.dark {
		padding: 3em;
	}
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
