/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; } table { border-collapse:collapse; border-spacing:0; } hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; } input, select { vertical-align:middle; }

	.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

	body {
		background: #fff;
		font-family: 'Pontano Sans', sans-serif;
	}

	#wrapper {
		position: relative;
		width: 56%;
		max-width: 880px;
		background: #EEE;
		text-align: center;
		margin: 0 auto;
	}

	a {
		color: #666;
		text-decoration: underline;
	}

	a:hover{
		color: pink;
		text-decoration: none;
	}

	h1 {
		font-size: 44px;
		padding-bottom: 1em;
	}
	h2 {
		font-family: 'Fugaz One', cursive;
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
		font-family: 'Fugaz One', cursive;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
		width: 56%;
		margin: auto;
	}
	p{
		font-size: 14px;
	}

	header{
		background: #FFF;
		font-family: 'Fugaz One', cursive;
		text-align: center;
		margin: 4em 0;
	}

	a.app {
		text-decoration: none;
		font-style: normal !important;
		color: #000;
		cursor: text;
	}

	#bio p {
		background: #EEE;
		width: 56%;
		margin: auto;
		text-align: center;
		font-size: 16px;
	}

	#bio img {
		max-width: 200px;
		width: 100%;
	}

	#resume {
		width: 100%;
		margin: 4em 0;
	}

	#resume ol {
		float: left;
		margin-left: 10%;
		width: 30%;
	}
	#resume ol.first {
		margin-left: 12%;
	}

	#resume ol li {
		list-style-type: none;
		margin-top: 10px;
	}

	#portfolio {
		margin: 4em 0;
		padding-bottom: 4em;
	}

	#portfolio ul li {
		margin-top: 80px;
	}

	#portfolio ul li p {
		margin: 10px auto;
		font-size: 16px;
		line-height: 20px;
		max-width: 490px;
	}

	#portfolio a {
		text-decoration: none;
		font-style: italic;
	}

	footer {
		position: relative;
		margin-top: 20px;
		bottom: 10px;
		right: 0;
	}

	footer p {
		float:left;
		margin-left: 10px;
	}

	ul, ul li, ol, ol li {
		list-style-type: none;
	}
	#portfolio iframe {
		max-width: 500px;
		width: 100%;
	}

	.dot {
		display:block;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-khtml-border-radius:5px;
		background:#000;
		width: 10px;
		height: 10px;
		text-align: center;
		margin: 20px auto 0 auto;
	}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 900px) {

	#wrapper {
		width: 100%;
	}

	#portfolio iframe {
		width: 95%;
	}
}

@media handheld, only screen and (max-width: 500px) {

	#portfolio ul li p {
		max-width: 90%;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}