// MOBILE = 0px
@media (min-width:0){
#blue-note {
	$width: 320;
	.column, .columns {
		padding-left: 0;
		padding-right: 0;
	}
	.small-pos-abs {
		position: absolute;
	}
	.logos {
		.line {
			width: 1px;
			height: 1.8rem;
			vertical-align: middle;
		}
	}
	.sonos-logo {
		width: 33%;
	}
	.bluenote-logo {
		width: 35%;
	}
	.tunein-logo {
		width: 35%;
	}
	.bluenoteonsonos-logo {
		width: 32%;
	}
	h1 {
		font-size: 2.5rem;
	}
	// h2 {
	// 	font-size: 1.15rem;
	// 	line-height: 1.3rem;
	// 	margin-bottom: .75em;
	// }
	// p {
	// 	font-size: .75rem;
	// 	margin-bottom: 1rem;
	// 	line-height: 1.3rem;
	// 	letter-spacing: -.02rem;
	// 	&.large {
	// 		font-size: .5rem;
	// 		margin-bottom: .5rem;
	// 		letter-spacing: .02rem;
	// 		line-height: .7rem;
	// 	}
	// }
	#hero {
		@include aspectratio( $width, 500 );
		.gradient-vertical{
			@include opacity(.75);
			@include gradient-vertical( $blue-dark, transparent, 5%, 87%);
			width: 100%;
			height: 7.938rem;
			top: 0;
			// margin-top: 1.5rem;
			z-index: 1;
		}
		#hero-product {
			padding: 4.6% 0 0 2.4%;
			width: 55%;
			top: 0;
			z-index: 2;
		}
		#musician-lee-moran {
			top: 0;
			right: 0;
			padding: 1.87rem 0 0 0;
			width: 45%;
			z-index: 0;
		}
		.button.cta {
			margin-left: 19%;
			&.tiny{
				display: inline-block;
			}
			&.small {
				display: none;
			}
		}
		.copy {
			margin-top: 35%;
			z-index: 3;
			h1 {
				// line-height: 1.7rem;
				// letter-spacing: -0.05rem;
				span {
					margin-left: 19%;
				}
			}
			p {
				margin-left: 19%;
			}
			.logos {
				margin-left: 17%;
			}
		}
	}

	#years-75 {
		@include aspectratio( $width, 500 );
		@include gradient( $blue-light, $blue-dark, 0%, 87%);
		.copy {
			top: 48%;
		}
		#musician-donald-byrd {
			margin-top: -0.625rem;
		}
	}

	#look-and-feel {
		@include aspectratio( $width, 860 );
		.gradient-vertical{
			@include opacity(.75);
			@include gradient-vertical( $blue-dark, transparent, 5%, 87%);
			width: 100%;
			height: 11.25rem;
			top: 50%;
		}
		.quote {
			padding: 9% 0 5% 0;
			h1 {
				span {
					margin-left: 1rem;
				}
			}
			p{
				margin-left: 43%;
				text-transform: uppercase;
				span {
					margin-left: .5rem;
				}
			}
		}
		#bluenote-tall {
			@include aspectratio( $width, 435 );
			display: block;
			margin-top: 2.4rem;
			z-index: 2;
		}
		.copy {
			background: #000;
			top: 67%;
			z-index: 3;
			padding-top: 1.45rem;
		}
	}

	#close-up {
		@include aspectratio( $width, 430 );
		min-height: 350px;
		.image {
			margin-top: -40%;
		}
		.copy {
			padding-top: 1rem;
			background: #000;
			top: 38%;
			margin-top: 1.45rem;
			height: 100%;
		}
	}

	#apps {
		@include aspectratio( $width, 530 );
		@include gradient( $blue-light, $blue-dark, 0%, 87%);
		.mask {
			overflow: hidden;
			height: 11.5rem;
		}
		.image {
			display:block;
			margin-top: -16%;
		}
		.copy {
			padding: 0;
			margin-top: 12%;
		}
	}

	#art-blakey {
		@include aspectratio( $width, 500 );
		#musician-art-blakey {
			margin-top: -5.7rem;
			margin-left: 1.7rem;
		}
		h1 {
			// font-size: 2.4rem;
			// line-height: 2.5rem;
			// letter-spacing: -.085rem;
			span {
				margin-left: 6%;
			}
		}
		#credit {
			margin-top: 0;
			text-align: right;
			text-transform: uppercase;
			// font-size: .6rem;
			margin-right: 2%;
			letter-spacing: .05rem;
		}
	}

}
}


// MOBILE = 400px
@media (min-width:25.00em){
#blue-note{
	$width: 312;
	// h1 {
	// 	line-height: 1.7rem;
	// 	letter-spacing: -0.05rem;
	// }
	// h2 {
	// 	font-size: 1.15rem;
	// 	line-height: 1.3rem;
	// 	margin-bottom: .75em;
	// }
	// p {
	// 	font-size: .75rem;
	// 	margin-bottom: 1rem;
	// 	line-height: 1.3rem;
	// 	letter-spacing: -.02rem;
	// 	&.large {
	// 		font-size: .5rem;
	// 		margin-bottom: .5rem;
	// 		letter-spacing: .02rem;
	// 		line-height: .7rem;
	// 	}
	// }

	#hero {
		.copy {
			margin-top: 41%;
		}
		.gradient-vertical {
			margin-top: 62%;
		}
	}
	
	#years-75 {
		@include aspectratio( $width, 430 );
		.copy {
			top: 55%;
		}
	}

	#look-and-feel {
		@include aspectratio( $width, 700 );
		.copy {
			top: 76%;
		}
		.quote {
			p {
				margin-left: 53%;
			}
		}
	}
	
	#close-up {
		@include aspectratio( $width, 360 );
		.copy {
			top: 47%;
		}
	}

	#apps {
		@include aspectratio( $width, 420 );
		.copy {
			margin-top: 9%;
		}
		.mask {
			height: 15rem;
		}
	}

	#art-blakey {
		@include aspectratio( $width, 450 );
		#credit {
			margin-right: 20%;
		}
	}
}
}

// MOBILE = 420px
@media (min-width:26.250em){
#blue-note{
	$width: 312;
	// h1 {
	// 	line-height: 1.7rem;
	// 	letter-spacing: -0.05rem;
	// }
	// h2 {
	// 	font-size: 1.15rem;
	// 	line-height: 1.3rem;
	// 	margin-bottom: .75em;
	// }
	// p {
	// 	font-size: .75rem;
	// 	margin-bottom: 1rem;
	// 	line-height: 1.3rem;
	// 	letter-spacing: -.02rem;
	// 	&.large {
	// 		font-size: .5rem;
	// 		margin-bottom: .5rem;
	// 		letter-spacing: .02rem;
	// 		line-height: .7rem;
	// 	}
	// }

	#hero {
		@include aspectratio( 500, 600 );
		.gradient-vertical {
			margin-top: 60.5%;
		}
		.copy {
			// margin-top: 41%;
			.logos {
				margin-top: 0%;
			}
		}
	}

	#years-75 {
		@include aspectratio( $width, 400 );
		.copy {
			top: 59%;
		}
	}

	#look-and-feel {
		@include aspectratio( $width, 640 );
		.copy {
			top: 79%;
		}
	}
	
	#close-up {
		@include aspectratio( $width, 350 );
		.copy {
			top: 58%;
			.container {
				padding-top: 1.45rem;
			}
		}
	}

	#apps {
		@include aspectratio( $width, 400 );
		.copy {
			margin-top: 7%;
		}
		.mask {
			height: 45%;
		}
	}

	#art-blakey {
		@include aspectratio( $width, 450 );
		.logos {
			width:70%;
		}
	}
}
}

// MOBILE = 490px
@media (min-width:30.625em){
#blue-note{
	#hero{
		.gradient-vertical {
			margin-top: 58.5%;
		}
	}
}
}

// MOBILE = 550px
@media (min-width:34.375em){
#blue-note{
	#hero {
		.gradient-vertical {
			margin-top: 56.5%;
		}
	}
	// $width: 550;
	// #years-75 {
	// 	@include aspectratio( $width, 550 );
	// }
	// #look-and-feel {
	// 	@include aspectratio( $width, 1100 );
	// }
	// #apps {
	// 	@include aspectratio( $width, 500 );
	// 	.mask {
	// 		height: 55%;
	// 	}
	// }
}
}