@import "mixins/all";

$blue-light: #00BFF2;
$blue-dark: #003271;
$gray-dark: #202020;

#blue-note {
	.row{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
	}
	.logos {
		.logo {
			display: inline-block;
		}
		.line {
			display: inline-block;
			background: #CCC;
		}
	}
	.wrapper-dark {
		background-color: #000;
		color: #fff;
		margin: 0;
	}
	.wrapper {
		color: #fff;
		margin: 0;
	}
	.gradient-vertical {
		position: absolute;
	}
	.blue-light {
		color: $blue-light;	
	}
	#hero {
		.button.cta {
			background-color: $blue-light;
			&:hover {
				background-color: rgba($blue-light,.7);
			}
		}
	}
	* {
	    -webkit-transition: all 0.5s ease;
	       -moz-transition: all 0.5s ease;
	         -o-transition: all 0.5s ease;
	            transition: all 0.5s ease;
	}

}


footer.flush { margin: 0; }

.direct-buy-bar .top-bar.sonos-bar .top-bar-section ul li:not(.has-form) a:not(.button) { height: auto; }

.language-selector.dark a:not(.button), .language-selector.dark a:not(.button):hover,
.footer h6 { color: $blue-light; }

.language-selector.dark .button {

  background-color: $blue-light;
  font-size: .85rem;

  &:hover {
    background-color: rgba($blue-light, .7);
    border-color: rgba($blue-light, .7);
  }

}

.footer .button.prefix,
.footer button.prefix {

  background-color: $blue-light;
  border-color: $blue-light;
  font-size: .9em;

  &:hover {
    background-color: rgba($blue-light, .7);
    border-color: rgba($blue-light, .7);
  }

}

.top-bar.sonos-bar .top-bar-section ul li ul.dropdown li:not(.divider):not(.has-form) a:not(.button):hover,
.top-bar.sonos-bar .top-bar-section ul.right.stack li>a:hover { background-color: $blue-light; }

@import "mobile";
@import "tablet";
@import "desktop";