<footer>
	<p>Caroline K&#228;llb&#228;ck</p>
	<br>
	<p><a href='http://www.linkedin.com/in/carolinekallback'>LINKED IN</a></p>
	<p><a href='https://vimeo.com/carolinek'>VIMEO</a></p>
	<p><a href='http://www.BALT.us'>BALT</a></p>
</footer>