<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
		<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>CAROLINE K&#196;LLB&#196;CK - Freelance Video Editor &amp; Dirctor - New York City</title>
		<meta name="keywords" content="caroline kallback, video, film, editor, animator, video editor, video animator, film editor, same tv, film club, production" >
		<meta name="description" content="CAROLINE K&#196;LLB&#196;CK - Freelance Video Editor &amp; Animator - New York City - Editing video for Fashion, Fine Art, Promotion, Advertisements, and more - Check out my reel of video edits!" >
		<meta name="author" content="www.BALT.us">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<meta property="og:image" content="http://www.carolinekallback.com/carolinekallback-headshot-v2.jpg"/>
		<meta property="og:description" content="Caroline Kallback's portfolio of videos in fashion, fine art, advertising and more!"/>

		<link rel="shortcut icon" href="favicon.ico" >

		<link href='https://fonts.googleapis.com/css?family=Scheherazade:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ file-path }}Assets/css/main.css">

		<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-30161064-1']); _gaq.push(['_setDomainName', 'carolinekallback.com']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</head>
<body>
<div id="wrapper">