<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sonos is no ordinary streaming speakers solution — it&#39;s a fully integrated wireless HiFi system." />
	<meta name="keywords" content="wireless hifi, streaming speakers, bluetooth speakers, bookshelf speakers, high-end speakers, blue note" />
	<title>Blue Note | SONOS</title>
	<link rel="shortcut icon" href="{{ file-path }}Assets/images/global/favicon.ico" type="image/x-icon" />
	<!--[if IE 9]><link rel="stylesheet" href="//static.sonos.com/v2/live/styles/min/ie/suit.css”><![endif]-->
	<!--[if gt IE 9]><!--><link rel="stylesheet" href="//static.sonos.com/v2/stage/styles/min/suit.css"><!--<![endif]-->
	<link rel="stylesheet" href="//fast.fonts.net/cssapi/f0598f02-6b8c-4ebc-8e0b-da61573232cf.css">
	<link rel="stylesheet" href="{{ file-path }}Assets/css/Sonos-Blue-Note.css">
</head>
<body class="antialiased" data-init data-cookie-signin-name="MySonos" data-cookie-cart-name="shop" data-cookie-locale-name="Sonos" data-site-name="sonos.com">