<header class="clearfix">
	<div class="left">
		<h1>Caroline K&#228;llb&#228;ck</h1>
		<h5><a href='#me'>About</a></h5>
		<h5><a href='http://www.linkedin.com/in/carolinekallback'>LinkedIn</a></h5>
		<h5><a href='https://vimeo.com/carolinek'>Vimeo</a></h5>
	</div>
	<div id="contact" class="right">
		<h4>Hej! I am a Swedish video editor based in NYC with a passion for visual storytelling.</h4>
	</div>
</header>