<div id="home-screen">
	<header>
		<ul class="carousel"></ul>
	</header>
	<section>
		<ul class='clients'>
			<ul>
			{{#each clients }}
{{> client }}
			{{/each}}
			</ul>
		</ul>
	</section>
	<section>
		<ul class='grid'>
			<ul>
			{{#each projects }}
{{> thumbnail }}
			{{/each}}
			</ul>
		</ul>
	</section>
</div>