@mixin aspect($ratio) {
    $padding: 100%;
    @if $ratio == "1x2" {
        $padding: 200%;
    }
    @else if $ratio == "2x1" {
        $padding: 50%;
    }
    @else if $ratio == "3x1" {
        $padding: 33.33%;
    }
    @else if $ratio == "2x3" {
        $padding: 150%;
    }
    @else if $ratio == "3x2"{
        $padding: 150%;
    }
    @else if $ratio == "4x3" {
        $padding: 75%;
    }
    @else if $ratio == "16x9" {
        $padding: 56.25%;
    }
    @else if $ratio == "21x9" {
        $padding: 42.8571%;
    }
    @else if $ratio == "1200x512" {
        $padding: 42.666667%;
    }
    @else  {
        $padding: 100%;
    }
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: $padding !important;
        z-index: -999999;
        position: relative;
    }
}
