.home-screen {
	width: 100%;
	header {
		display: flex;
		position: relative;
		height: 100px;
	}
}
.grid {
	width: 100%;
	li {
		background: rgba(0,0,0,0.5);
		display: inline-block;
		width: 200px;
		margin: 1em;
	}
}