<div class="home-screen">
	<header>
		<ul class="carousel"></ul>
	</header>
	<section>
		<ul class='grid clients'>
			<ul>
				<li ng-repeat="item in clients">
					<a href="" class="inner">
						<div class="contain">
							<h2>{{ item }}</h2>
						</div>
					</a>
				</li>
			</ul>
		</ul>
	</section>
	<section>
		<ul class='grid'>
			<ul>
				<li ng-repeat="item in projects" class="{{ item.size }}">
					<a href="" class="inner">
						<div class="contain">
							<h2>{{ item.name }}</h2>
							<p>{{ item.description }}</p>
						</div>
					</a>
				</li>
			</ul>
		</ul>
	</section>
</div>