@import "fonts";

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	width: 768px;
	height: 1024px;
}
ul {
	margin: 0;
	padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.wrapper {
	width: 100%;
	max-width: 1024px;
	overflow: hidden;
	color: #fff;
	position: relative;
}

h1 {
	text-align: center;
}

body {
	text-align: center;
	background: #000;
}

video {
	width: 100%;
}

.valign {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
	width: 1px;
}
.vcontent {
	vertical-align: middle;
	display: inline-block;
}