.grid {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	li {
		background: rgba(0,0,0,0.5);
		text-align: center;
		list-style: none;
		flex-grow: 1;
		a {
			width: 100%;
			height: 100%;
			display: block;
			text-decoration: none;
			flex-grow: 1;
		}
		&.large {
			width: 40%;
		}
		&.medium {
			width: 30%;
		}
		&.small {
			width: 20%;
		}
	}
}
