.grid {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	li {
		position: relative;
		text-align: center;
		list-style: none;
		flex-grow: 1;
		display: inline-flex;
		align-items: center;
		a {
			background: rgba(0,0,0,0.1);
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-decoration: none;
			margin: 1em;
			.inner {
			}
			.contain {
				border: 1px solid #000;
				margin: .5em;
			}
		}
		&.large {
			width: 40%;
		}
		&.medium {
			width: 30%;
		}
		&.small {
			width: 20%;
		}
	}
}
